body {
  font-family: 'Blinker', sans-serif;;
  font-size: 16px;
  line-height: 1;
  background-color: #eee1ee;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  font-size: 24px;
  color: rebeccapurple;
  text-shadow: 1px 1px 1px darkviolet;
  border-left: 1px solid teal;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: teal;
  text-shadow: 2px 2px 6px darkturquoise;
  border-radius: 0;
  border-bottom: 10px solid rebeccapurple;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rebeccapurple;
}

.hour {
  background-color: darkturquoise;
  color: navy;
  border-top: 1px dashed rebeccapurple;
}

.past {
  background-color: lightpink;
  color: white;
}

.present {
  background-color: wheat;
  color: white;
}

.future {
  background-color: palevioletred;
  color: white;
}

.saveBtn {
  border-left: 1px solid rebeccapurple;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: turquoise;
  color: navy;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
